<header>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img  src="/img/logo-DH.png" alt="Logo" width="30" height="50">
        </a>
        <button
          class="btn btn-outline-dark"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <i class="fa-solid fa-bars"></i>
        </button>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
              Navegacion
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav flex-column">
              
              <li class="nav-item">
                <a class="nav-link" href="/movies"><i class="fa-solid fa-clapperboard"></i>Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movies"><i class="fa-solid fa-clapperboard"></i>Generos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movies"><i class="fa-solid fa-clapperboard"></i>Actores</a>
              </li>
             
            </ul>
            </div>
        </div>
      </div>
    </nav>
  </header>